/* 
font family
font-family: 'Gentium Book Plus', serif;
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
main{
    max-width: 1321px;
    margin: auto;
}

/* -----------------------------------------------------------------------hero start---------------------------------------------- */
.hero{
    display: flex;
    justify-content: space-around;

    background-color: black;
    padding-top: 33px;
    border-radius: 30px;
    align-items: center;
}
.hero-content{
    max-width: 516px;
    max-height: 424;
}
.hero-content h1{
    font-weight: 700;
    font-size: 2em;
    color: #FFFFFF;
    line-height: 80px;
    text-transform: capitalize;
}
.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 30px;

}
.hero-content a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 25px 16px 25px;
    border-radius: 5px;
}
.hero-image img{

    height: auto;

}
/*
    position: relative;
 animation: player 5s infinite;
  
  @keyframes {
    from {width:0%;}
    to {width:60%;}
  } */

/* -------------------------------------------------------------------------hero end------------------------------------------ */
/* -------------------------------------------------------------------------blog start------------------------------------------ */
.blog{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;



}
.blog-filter{
    width: 312px;
    height: 312px;
    background-color: black;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-right: 30px;
}
.blog-filter a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 20px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;

}
.blog-filter a:hover{
    background-color: #DD0000;
    margin-top: 17px;
    color: #FFFFFF;
}

.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap:30px;

}
.blog-content article{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.article-content{
    padding: 20px;
}
.blog-content article img{
    width: 100%;
    margin-bottom: 10px;
}
.blog-content article a{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid #161616;
    font-weight: 600;
    color: #161616;
    transition: 1s;
}
.blog-content article a:hover{
    margin-left: 4px;
}
.blog-content article h3{
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 27px;
    font-weight: 600;
    color: #161616;

}
.blog-content article ul{
    padding: 0;
    list-style: none;
    display: flex;

}
.blog-content article ul li{
    margin-right: 40px;
    color: #161616;

}
.blog-content article ul li i{
    margin-right: 3px;
    color: #161616;

}



/* -------------------------------------------------------------------------blog end------------------------------------------ */
/* -------------------------------------------------------------------------footer start---------------------------------------- */
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.heading{

}
.heading h2{
color: white;

}
.footer-content{
    width: 898px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    grid-gap:10px;
}
.footer-content p{
    color: white;
}
/* -------------------------------------------------------------------------footer end------------------------------------------- */